<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div id="container"></div>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>ExpoKINAL</h1>
            <p>En la nueva edición de la Expo KINAL sé ha añadido una nueva metodología que es el de
                impartir conferencias sobre temas de interés general.</p>
            <p><a class="btn btn-lg btn-dark" style="background-color: #BF9B30" routerLink="/register" role="button">Registrarse</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
          <div id="container2"></div>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Conferencias</h1>
            <p>Con estas conferencias se busca poder impartir temas de interes con personas calificadas para ello y expertas en el tema.</p>
            <p><a class="btn btn-lg btn-dark" style="background-color: #BF9B30" routerLink="/conferencias" role="button">Saber más</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container marketing">
    <div id="Conerencistas">
      <h1 class="text-center">Conferencistas</h1>
      <div class="container-fluid">
        <button *ngIf="identity.rol == 'ROLE_ADMIN'" type="button container-fluid" class="btn btn-primary"
          data-toggle="modal" data-target="#modalAgregarConferencista">Agregar</button>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-lg-4">
          <div class="ratio img-responsive img-circle"
            style="background-image: url(https://extension.illinois.edu/stain/stains-hi/235.jpg);"></div>
          <h2>NOMBRE</h2>
          <p>DATOS</p>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalEditarConferencista"
            *ngIf="identity.rol == 'ROLE_ADMIN'">Editar</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalElimiarConferencista"
            *ngIf="identity.rol == 'ROLE_ADMIN'">Eliminar</button>
        </div>
      </div>
    </div>
    <div id="Entradas">
      <hr class="featurette-divider">
      <h1 class="text-center">Entradas</h1>
      <div class="container-fluid">
        <button *ngIf="identity.rol == 'ROLE_ADMIN'" type="button container-fluid" class="btn btn-primary"
          data-toggle="modal" data-target="#modalAgregarEntrada">Agregar</button>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">NOMBRE</h2>
          <p class="lead text-justify">DESCRIPCION.</p>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalEditarEntrada"
            *ngIf="identity.rol == 'ROLE_ADMIN'">Editar</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalElimiarEntrada"
            *ngIf="identity.rol == 'ROLE_ADMIN'">Eliminar</button>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500" src="https://extension.illinois.edu/stain/stains-hi/235.jpg" alt="">
        </div>
        <hr class="featurette-divider">
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalAgregarConferencista" tabindex="-1" role="dialog"
  aria-labelledby="modalAgregarConferencista" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarConferencista">Agregar Conferencista</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <form>
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input type="text" class="form-control" id="Nombre" aria-describedby="nombre"
                    placeholder="Ingrese el nombre del Conferencista">
                </div>
                <div class="form-group">
                  <label for="Datos">Datos</label>
                  <input type="text" class="form-control" id="Datos"
                    placeholder="Ingrese los datos del Conferencista">
                </div>
                <div class="form-group">
                  <label for="Imagen">Imagen</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Seleccione la imagen deseada</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL DE EDITAR CONFERENCISTA -->
<div class="modal fade" id="modalEditarConferencista" tabindex="-1" role="dialog"
  aria-labelledby="modalEditarConferencista" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarConferencista">Editar Conferencista</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <form>
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input type="text" class="form-control" id="Nombre" aria-describedby="nombre"
                    placeholder="Ingrese el nombre del Conferencista">
                </div>
                <div class="form-group">
                  <label for="Datos">Datos</label>
                  <input type="text" class="form-control" id="Datos"
                    placeholder="Ingrese los datos del Conferencista">
                </div>
                <div class="form-group">
                  <label for="Imagen">Imagen</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Seleccione la imagen deseada</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL ELIMIAR CONFERENCISTA -->
<div class="modal fade" id="modalElimiarConferencista" tabindex="-1" role="dialog"
  aria-labelledby="modalElimiarConferencista" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalElimiarConferencista">Eliminar Conferencista</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que quiere eliminarlo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Si</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL DE AGREGAR ENTRADA-->
<div class="modal fade" id="modalAgregarEntrada" tabindex="-1" role="dialog" aria-labelledby="modalAgregarEntrada"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarEntrada">Agregar Entrada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <form>
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input type="text" class="form-control" id="Nombre" aria-describedby="nombre"
                    placeholder="Ingrese el nombre del Conferencista">
                </div>
                <div class="form-group">
                  <label for="Datos">DESCRIPCION</label>
                  <input type="text" class="form-control" id="Datos"
                    placeholder="Ingrese los datos del Conferencista">
                </div>
                <div class="form-group">
                  <label for="Imagen">Imagen</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Seleccione la imagen deseada</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL DE EDITAR ENTRADA -->
<div class="modal fade" id="modalEditarEntrada" tabindex="-1" role="dialog" aria-labelledby="modalEditarEntrada"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarEntrada">Editar Conferencista</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <form>
                <div class="form-group">
                  <label for="Nombre">Nombre</label>
                  <input type="text" class="form-control" id="Nombre" aria-describedby="nombre"
                    placeholder="Ingrese el nombre del Conferencista">
                </div>
                <div class="form-group">
                  <label for="Datos">DESCRIPCION</label>
                  <input type="text" class="form-control" id="Datos"
                    placeholder="Ingrese los datos del Conferencista">
                </div>
                <div class="form-group">
                  <label for="Imagen">Imagen</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Seleccione la imagen deseada</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<!-- MODAL ELIMIAR Entrada -->
<div class="modal fade" id="modalElimiarEntrada" tabindex="-1" role="dialog" aria-labelledby="modalElimiarEntrada"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalElimiarEntrada">Eliminar Conferencista</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que quiere eliminarla?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary">Si</button>
      </div>
    </div>
  </div>
</div>
  <footer class="container">
    <p>&copy; 2017-2019 Fundacion KINAL.</p>
  </footer>
</main>